# Emacs backups
*~

/.bundle/
/.vendor/
/Gemfile.lock
.ruby-version

/doc/tutorial/index.html
/doc/DBus
/doc/*.html
/doc/css
/doc/js
.yardoc/

# Rubinius
.rbx/

# SimpleCov
coverage/

# packaging
ruby-dbus-*.gem
