  a          { text-decoration: none; }
  a:link     { color: #2E5F84; background-color: inherit; }
  a:visited  { color: #4084B8; background-color: inherit; }
  a:hover,
  a:active   { 
    color: #4084B8; 
    background-color: inherit;
    text-decoration: underline; 
  }

  #content {
     width: 50em;
     margin: 0pt auto;
  }

  #header {
     padding: 2pt;
     color: inherit;
     background-color: #C61C18;
     border-top: thin solid #891D1B;
     border-left: thin solid #891D1B;
     border-right: thin solid #891D1B;
  }

  #header h1 {
     margin: 5pt;
     color: #FFFFFF;
     background-color: inherit;
  }

  #footer { 
     margin-top: 5pt;
     border-top: thin solid #891D1B;
  }

  #body { text-align: justify; }

  .bar {
     clear: both;
     padding: 2pt;
     text-align: center;
     font-size: 83%;
     border: thin solid #891D1B;
     color: inherit;
     background-color: #F07F7D;
  }
  .bar a:link { color: #FFFFFF; background-color: inherit; }
  .bar a:visited { color: #FFFFFF; background-color: inherit; }

  .left, .right {
     padding: 0pt 1em;
  }

  .left {
     float: left;
     text-align: left;
  }

  .right {
     float: right;
     text-align: right;
  }

  .log { table-layout: fixed; width: 100%; }
  .log tr.header .day { width: 6em; }

  code { color: inherit; background-color: #F0E7E7; }

  pre {
     font-size: 90%;
     overflow: hidden;
     padding-left: 10pt;
     border: thin solid #F0B4B4; 
     color: inherit;
     background-color: #F0DDDD;
  }
  
  pre code { color: inherit; background-color: #F0DDDD; }
  
  h2, h3 { 
    color: #1D3B52;
    background-color: inherit;
    border-bottom: thin dashed #1D3B52; 
  }

  table th { color: inherit; background-color: #B4D2E8; }

  /* styling the menu */

  #menu {
     float: right;
     width: 15em;
     margin: 10pt 0pt 5pt 10pt;
     font-size: 83%;
     border: thin solid #2E5F84;
     color: inherit;
     background-color: #B4D2E8;
  }

  #menu a {
     text-decoration: none;
  }

  #menu a:hover {
     text-decoration: underline;
  }

  #menu li.webgen-menu-item-selected {
     font-weight: bold;
  }

  #menu ul {
     list-style-type: none;
     padding-left: 15pt;        /* first ul has some padding left & right */
     padding-right: 5pt;
  }

  #menu li {
     padding: 3pt 0pt;          /* inter-item padding */
     color: #2E5F84;
     background-color: inherit;
  }

  #menu li > ul {
     font-weight: normal;
     padding-top: 3pt;          /* padding in front of first item */
     padding-left: 7pt;         /* indentation */
     padding-right: 0pt;       
  }
